* {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body {
    padding: 0;
}

/* MENU */
.container {
    height: 13vh;     
    width: 100vw;
    background-color: #1b1f27;
    /* background-image: url(../imagens/background.jpeg);
    background-size: 100vw; */
}

.menu {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 40px 80px 10px 80px;
    /* padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%; */
    /* width: 80vw; */
}

.menu img {
    width: 50px;
    height: auto;
    animation: projetoIA 4s infinite;
    cursor: pointer;
}

.logo{
    color: #cbd0f7;
    font-size: 20px;
    min-width: 200px;
    animation: projetoIA 4s infinite;
}

span {
    color: #5568fe;
    font-size: 28px;
}

@keyframes projetoIA {
    0% {
        transform: translateX(30px);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(30px);
    }
}

span:hover {
    color: rgb(0, 255, 251);
    transition: all .8s;
    
}

.menu ul li {
    list-style-type: none;
    display: inline;
    margin-top: 30px;
    align-items: baseline;
}

.menu ul li a {
    font-size: 22px;
    color: #cbd0f7;
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.menu ul li a:hover {
    color: #5568fe ;
    border: 1px solid #5568fe;
    /* background-color: #5568fe; */
    border-radius: 10px;
    transition: all 1.3s ease-out;
    /* box-shadow: 1px 2px 0px 4px rgb(255, 255, 255); */
    text-shadow: white 2px 3px 8px;
}



/* SITE */
.site {
    padding: 0;
    color: #cbd0f7;
    display: flex;
    flex-direction: column;
    text-align: center; 
    background-color: #1b1f27;
    /* background-image: url(../imagens/background.jpeg);
    background-size: 100vw; */
    height: 100vh;
    width: 100vw;
}

.conteudo-ia {
    /* border: 3px solid red; */
    padding: 10px;
    width: 100vw;
    text-align: center;
}

.conteudo-ia img {
    margin: 20px 20px;
    width: 360px;
    height: 360px;
    border-radius: 35px;
    box-shadow: 1px 2px 0px 4px rgba(100, 100, 100, .2);
}


.conteudo-home {
    padding: 10px;
    width: 100vw;
    text-align: center;
}

.conteudo-home img {
    margin: 30px 0px 20px 0px;
    width: 180px;
    height: 180px;
    border-radius: 35px;
}

.p1-home {
    padding: 30px;
    margin-top: 10px;
    text-align: justify;
}

.p2-home {
    padding: 30px;
    margin-top: 10px;
    text-align: justify;
}

h3 {
    text-shadow: white 1px 1px 15px;
}

.back-button {
    margin: 20px 0px;
    cursor: pointer;
    font-size: 20px;
    color: #cbd0f7;
    background-color: #5568fe;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    width: 120px;
    border: none;
}

.back-button:hover {
    color: #5568fe; 
    background-color: #cbd0f7;
    border-radius: 10px;
    transition: all .1s ease-out;
}

@media screen and (max-width: 1920px) {

    .conteudo-home {
        width: 100%;
        height: 100%;
        overflow: scroll;
        overflow-x: hidden;
    }

    .conteudo-ia {
        width: 100vw;
        height: 100vh;
        overflow: scroll;
        overflow-x: hidden;
        
    }
}



/* slide de imagens */
.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: static;
}

.slide img {
    width: 650px;
    height: 80%;
    box-shadow: 1px 2px 0px 4px rgba(100, 100, 100, .2);
}

.nav-manual {
    /* position: static; */
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.nav-auto div {
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

/* .nav-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}  */

.nav-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .nav-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked ~ .nav-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #fff;
}

#radio4:checked ~ .nav-auto .auto-btn4 {
    background-color: #fff;
}